.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 5px auto;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}